<div data-ng-app="restaurantLocatorApp" data-ng-controller="restaurantLocatorController"
     data-ng-init="init('body')" class="ng-scope">

    <div class="restaurantLocator">
        <div class="inner-content">
            <sly data-sly-include="widget.html"/>
            <sly data-sly-include="result.html"/>
        </div>

        <div class="modal fade" id="restaurantLocatorDisambiguityModal" tabindex="-1" role="dialog"
             aria-labelledby="restaurantLocatorDisambiguityModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="row no-gutter">
                            <div class="col-xs-12 cont-select">
                                <div class="heading">{{fullRlData.selectLocationBelow}}:</div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-xs-12 location-list">
                                <div ng-repeat="location in multipleLocations"
                                     ng-click="showRestaurantForMulti($event,location)" ng-modal=""
                                     class="location"><a data-value="location.formattedAddress" href="">{{location.formattedAddress}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="btn-back" data-toggle="modal" data-target="#restaurantLocatorFormModal"><i class="fa fa-arrow-left"></i></div>-->
                    <!--/.btn-back-->
                    <div class="btn-close" data-dismiss="modal"><i class="fa fa-times"></i></div>
                    <!--/.btn-close-->
                </div>
                <!--/.modal-content-->
            </div>
            <!--/.modal-dialog-->
        </div>
    </div>
</div>
<div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}"></div>
<div data-sly-resource="${'ipar' @ resourceType='wcm/foundation/components/iparsys'}"></div>