<div class="restaurantLocator_menu gray-border-on-white">
            <form class="component-locate">
              <div class="container">
                <div class="row text-center">
                  <div class="col-xs-12">
                    <p class="heading" ng-bind="fullRlData.searchFieldHeading"></p>
                      <div class="row no-gutter">
                        <div class="col-sm-6 col-md-7">
                          <div class="input-group"> <input ng-cloak name="searchText" ng-model="restaurantSearchText" type="text" class="form-control" placeholder="{{fullRlData.searchBoxDefaultText}}">
                            <div class="select input-group-btn" name = "rlRadius" ng-cloak > <select aria-label="{{fullRlData.arialabelforradius}}" class="form-control allow-title" title="{{fullRlData.radius[0]}} {{fullRlData.distanceUnitLocal}}">
							 <option ng-repeat="radius in fullRlData.radius"  value="{{radius}}">{{radius}} {{fullRlData.distanceUnitLocal}}</option>
													      </select>
							</div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-5">
                          <div class="cont-btns">
                            <div class="wrapper"> <button ng-click="searchRestaurants(restaurantSearchText)" ng-cloak type="submit" class="btn btn-red">{{fullRlData.searchBoxSubmit}}</button> </div>
                            <div class="wrapper middle"> <span class="text-or" ng-cloak>{{fullRlData.ortext}}</span> </div>
                            <div class="wrapper"> <button type="button" class="btn btn-border" ng-click="showRestaurantsForCurrentLocation()" ng-cloak><i class="fa fa-map-marker fa-lg"></i> {{fullRlData.locateMe}}</button> </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row cont-filters">
                  <div class="col-sm-10">
                    <ul id="search-options" class="list-inline clearfix">
	                    <div ng-repeat="filter in restaurantFilters" ng-if="$index < 4">
	                      <li>
	                        <div class="checkbox" ng-cloak>
	                        	<input ng-cloak type="checkbox" id="locate_checkbox{{$index+11}}_mobile" value="{{filter.filterValue}}" ng-click="filterRestaurants(filter.filterValue)" aria-checked="false">
	                        	<label ng-cloak for="locate_checkbox{{$index+11}}_mobile" class="keep-outline">{{filter.filterName}}</label>
	                        </div>
	                      </li>
	                    </div>
	                    <div class="cont-toggle visible-xs">
                         	<a role="button" ng-show="!noShowMore" href="javascript:void(0);" data-toggle="dropdown" data-target="#search-options" aria-expanded="false" class="locate-filters-show" ng-cloak
                         	data-more="{{fullRlData.showMore}} <i class='fa fa-chevron-down'></i>"
                         	data-less="{{fullRlData.showLess}} <i class='fa fa-chevron-up'></i>">
                         	{{fullRlData.showMore}} <i class="fa fa-chevron-down"></i>
                         	</a>
                         </div>
						 <div class="clearfix visuallyhidden"> {{fullRlData.showMore}} </div>
	                    <div ng-repeat="filter in restaurantFilters" ng-if="$index==4">
						  <li class="afterfold first hidden">
	                        <div class="checkbox" ng-cloak>
	                        	<input ng-cloak type="checkbox" id="locate_checkbox{{$index+11}}_mobile" value="{{filter.filterValue}}" ng-click="filterRestaurants(filter.filterValue)" aria-checked="false">
	                        	<label ng-cloak for="locate_checkbox{{$index+11}}_mobile" class="keep-outline">{{filter.filterName}}</label>
	                        </div>
	                      </li>
	                     </div>
	                     <div class="cont-toggle hidden-xs">
                         	<a role="button" ng-show="!noShowMore" href="javascript:void(0);" data-toggle="dropdown" data-target="#search-options" aria-expanded="false" class="locate-filters-show" ng-cloak
                         	data-more="{{fullRlData.showMore}} <i class='fa fa-chevron-down'></i>"
                         	data-less="{{fullRlData.showLess}} <i class='fa fa-chevron-up'></i>">
                         	{{fullRlData.showMore}} <i class="fa fa-chevron-down"></i>
                         	</a>
                         </div>
						 <div ng-repeat="filter in restaurantFilters" ng-if="$index==5">
	                      <li class="afterfold first-focus hidden clear">
	                        <div class="checkbox" ng-cloak>
	                        	<input ng-cloak type="checkbox" id="locate_checkbox{{$index+11}}_mobile" value="{{filter.filterValue}}" ng-click="filterRestaurants(filter.filterValue)" aria-checked="false">
	                        	<label ng-cloak for="locate_checkbox{{$index+11}}_mobile" class="keep-outline">{{filter.filterName}}</label>
	                        </div>
	                      </li>
	                     </div>
	                     <div ng-repeat="filter in restaurantFilters" ng-if="$index>5">
	                      <li class="afterfold hidden">
	                        <div class="checkbox" ng-cloak>
	                        	<input ng-cloak type="checkbox" id="locate_checkbox{{$index+11}}_mobile" value="{{filter.filterValue}}" ng-click="filterRestaurants(filter.filterValue)" aria-checked="false">
	                        	<label ng-cloak for="locate_checkbox{{$index+11}}_mobile" class="keep-outline">{{filter.filterName}}</label>
	                        </div>
	                      </li>
	                     </div>
				  </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>
