// COMPONENT: SOCIAL FEED
.social-icons {

	.circle-facebook {
		color: $color-facebook;
	}
	.circle-youtube {
		color: $color-youtube;
	}
	.circle-twitter {
		color: $color-twitter;
	}
	.circle-instagram {
		color: $color-instagram;
	}
	.circle-tumblr {
		color: $color-tumblr;
	}
	.circle-spotify {
		color: $color-spotify;
	}

	a {
		text-decoration: none;

		&:hover {
			.fa-circle {
				color: $red;
				@include transition();
			}
		}
	}
}

.component-social-feed {
	background: url('../img/home/bg-paper.jpg') repeat;
	padding-bottom: 150px;
	
	.flexslider .slides > li {
		min-height: 0;
		background: transparent;

		@media only screen and (min-width: 768px) {
			min-height: 455px;
			background: $white;
		}

		> .twitter-tweet {
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
	}

	.cont-play-pause-buttons {
		top: 10px;
		right: 40px;

		.fa {
			color: $white;
		}

		@media only screen and (min-width: 768px) {
			top: initial;
			bottom: 8px;
			right: 50px;

			.fa {
				color: rgba(71, 42, 18, 0.5);
			}
		}
	}

	.headline {
		padding: 25px 0 30px;
		text-align: center;
		color: $brown;
		@include fontSet(45px, 45px, 'Droid_Arabic_Kufi_Bold');

		.light {
			font-family: $font-lovinsans;
		}

		@media only screen and (min-width: 320px) {
			padding: 30px 0 30px;
			@include fontSet(55px, 55px, 'Droid_Arabic_Kufi_Bold');
		}
		@media only screen and (min-width: 768px) {
			padding: 50px 0 60px;
			@include fontSet(72px, 72px, 'Droid_Arabic_Kufi_Bold');
		}
		@media only screen and (min-width: 992px) {
			padding: 70px 0 80px;
		}
	}

	.social-icons {
		text-align: center;
		padding-bottom: 30px;

		@media only screen and (min-width: 480px) {
			padding-bottom: 50px;
		}
	}

	.flex-viewport {
		width: initial;
		margin: 0px 15px;

		@media only screen and (min-width: 320px) {
			margin: 0px 15px;
		}
		@media only screen and (min-width: 480px) {
			margin: 0px 30px;
		}
		@media only screen and (min-width: 768px) {
			width: 750px;
			margin: auto;
		}
		@media only screen and (min-width: 992px) {
			width: 970px;
			margin: auto;
		}
		@media only screen and (min-width: 1200px) {
			width: 1170px;
			margin: auto;
		}
	}

	.social-flexslider {
		background: transparent;
		position: relative;
		padding-bottom: 90px;

		.flex-control-nav {
			bottom: 0px;
		}

		.flex-prev,
		.flex-next {
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3MmExMiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ3MmExMiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(top, rgba(71, 42, 18, 0.5) 0%, rgba(71, 42, 18, 0.5) 100%);
			background: -webkit-linear-gradient(top, rgba(71, 42, 18, 0.5) 0%, rgba(71, 42, 18, 0.5) 100%);
			background: linear-gradient(to bottom, rgba(71, 42, 18, 0.5) 0%, rgba(71, 42, 18, 0.5) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80472a12', endColorstr='#80472a12', GradientType=0);
		}

		.flex-control-paging li a {
			border-color: rgba(71, 42, 18, 0.5); // $brown

			&.flex-active {
				border-color: transparent;
				background: rgba(71, 42, 18, 0.5); // $brown
			}
		}
	}

	.feed-item {
		background: $white;

		.item-thumb {
			height: auto;

			@media only screen and (min-width: 768px) {
				height: 135px;
			}
			@media only screen and (min-width: 992px) {
				height: 176px;
			}
			@media only screen and (min-width: 1200px) {
				height: 213px;
			}

			.zoomy.embed-responsive .embed-responsive-item {
			  -ms-transform: scale(1.01);
			  -moz-transform: scale(1.01);
			  -o-transform: scale(1.01);
			  -webkit-transform: scale(1.01);
			  transform: scale(1.01);
			  -ms-transform-origin: 0 0;
			  -moz-transform-origin: 0 0;
			  -o-transform-origin: 0 0;
			  -webkit-transform-origin: 0 0;
			  transform-origin: 0 0;
			  top: -1px;
			  left: -1px;
			}
		}

		.item-content {
			padding: 20px 30px;
			height: auto;

			@media only screen and (min-width: 768px) {
				height: 310px;
			}
			@media only screen and (min-width: 992px) {
				height: 270px;
			}
			@media only screen and (min-width: 1200px) {
				height: 250px;
			}
		}
		.media-body {
			color: $black;
			@include fontSet(20px, auto, Arial);
		}
		.body {
			color: $black;
			@include fontSet(20px, auto, Arial);
			padding-top: 20px;

			.date {
				font-weight: bold;
				margin-bottom: 0;
			}
			.bold {
				font-weight: bold;
			}

			a {
				text-decoration: none;
				color: $color-social-text-default;
			}

			&.social-instagram a {
				color: $color-instagram;
			}
			&.social-facebook a {
				color: $color-facebook;
			}
			&.social-twitter a {
				color: $color-twitter;
			}
			&.social-tumblr a {
				color: $color-tumblr;
			}

			a.btn-social {
				margin-top: 10px;
				color: $white;
				font-weight: bold;
				@include fontSet(20px, auto, Arial);
				@include border-radius(4px);
				text-transform: uppercase;
			}
			.btn-social-youtube {
				background: $color-youtube;
			}
			.btn-social-facebook {
				background: $color-facebook;
			}
			.btn-social-instagram {
				background: $color-instagram;
			}
			.btn-social-twitter {
				background: $color-twitter;
			}
			.btn-social-tumblr {
				background: $color-tumblr;
			}
			.btn-social-spotify {
				background: $color-spotify;
			}
		}

		.media-object {
			width: inherit;
		}

		.media-heading {
			color: $color-social-text-default;
			margin-bottom: 0;
			font-weight: bold;
			@include fontSet(20px, auto, Arial);

			&.social-youtube {
				color: $color-youtube;
			}
			&.social-facebook {
				color: $color-facebook;
			}
			&.social-twitter {
				color: $color-twitter;
			}
			&.social-tumblr {
				color: $color-tumblr;
			}
		}
		.item-cta {
			border-top: 1px solid $social-border;
			padding: 15px 30px 20px;
			height: 45px;

			img {
				width: auto;
			}
		}

	}
}


.social-share{
	background: $black;
	color: $white;
	text-align: center;
	padding: 5px 0px;

	h4,
	.h4{
		display: block;
		@include fontSet(28px, 28px, $font-lovinsans);
		padding: 0px 10px;
		margin-bottom: 15px;

		@include breakpoint(sm) {
			@include fontSet(30px, 30px, $font-lovinsans);
			display: inline-block;
			margin-bottom: 0;
		}
	} 

	ul {
		display: inline-block;

		li{
			display: inline-block;
			padding: 0px 10px;
			@include fontSet(30px, 30px, $font-lovinsans);

			a {
				color: $white;
			}
		}
	}
}
