<div class="mcd-footer-nav">
  <ul class="links">
    <li class="links__item links--title">
      <a href="#" class="link is-desktop" title="About Us">About Us</a>
      <span class="link is-mobile">About Us<i class="icon-plus"></i><i class="icon-minus"></i></a></span>
    </li>
    <li class="links__item is-mobile"><a href="#" class="link" title="About Us Page">About Us Page</a></li>
    <li class="links__item"><a href="#" class="link" title="Our History">Our History</a></li>
    <li class="links__item"><a href="#" class="link" title="Leadership Team">Leadership Team</a></li>
    <li class="links__item"><a href="#" class="link" title="Values In Action">Values In Action</a></li>
    <li class="links__item"><a href="#" class="link" title="Investor Relations">Investor Relations</a></li>
    <li class="links__item"><a href="#" class="link" title="News &amp; Notifications">News &amp; Notifications</a></li>
    <li class="links__item"><a href="#" class="link" title="Franchise Info">Franchise Info</a></li>
  </ul>
  <ul class="links">
    <li class="links__item links--title">
      <a href="#" class="link is-desktop" title="Careers">Careers</a>
      <span class="link is-mobile">Careers<i class="icon-plus"></i><i class="icon-minus"></i></a></span>
    </li>
    <li class="links__item is-mobile"><a href="#" class="link" title="Careers Page">Careers Page</a></li>
    <li class="links__item"><a href="#" class="link" title="For Our Veterans">For Our Veterans</a></li>
    <li class="links__item"><a href="#" class="link" title="Meet The People Who Work At McDonald's Restaurants">Meet The People Who Work At McDonald's Restaurants</a></li>
    <li class="links__item"><a href="#" class="link" title="Archways to Opportunity">Archways to Opportunity</a></li>
  </ul>
  <ul class="links">
    <li class="links__item links--title">
      <a href="#" class="link is-desktop" title="Services">Services</a>
      <span class="link is-mobile">Services<i class="icon-plus"></i><i class="icon-minus"></i></a></span>
    </li>
    <li class="links__item is-mobile"><a href="#" class="link" title="Services Page">Services Page</a></li>
    <li class="links__item"><a href="#" class="link" title="WiFi">WiFi</a></li>
    <li class="links__item"><a href="#" class="link" title="Arch Card<sup>&reg;</sup>">Arch Card<sup>&reg;</sup></a></li>
    <li class="links__item"><a href="#" class="link" title="PlayPlaces &amp; Parties">PlayPlaces &amp; Parties</a></li>
    <li class="links__item"><a href="#" class="link" title="Contact Us">Contact Us</a></li>
  </ul>
  <ul class="links">
    <li class="links__item links--title">
      <a href="#" class="link is-desktop" title="Community">Community</a>
      <span class="link is-mobile">Community<i class="icon-plus"></i><i class="icon-minus"></i></a></span>
    </li>
    <li class="links__item is-mobile"><a href="#" class="link" title="Community Page">Community Page</a></li>
    <li class="links__item"><a href="#" class="link" title="RMHC&reg;">RMHC<sup>&reg;</sup></a></li>
    <li class="links__item"><a href="#" class="link" title="365 Black">365 Black</a></li>
    <li class="links__item"><a href="#" class="link" title="McDonald's APA">McDonald's APA</a></li>
    <li class="links__item"><a href="#" class="link" title="McDonald's International">McDonald's International</a></li>
    <li class="links__item"><a href="#" class="link" title="RMHC&reg; / HACER&reg;">RMHC&reg / HACER&reg;</a></li>
  </ul>
  <ul class="links">
    <li class="links__item links--title">
      <a href="#" class="link is-desktop" title="Contact Us">Contact Us</a>
      <span class="link is-mobile">Contact Us<i class="icon-plus"></i><i class="icon-minus"></i></a></span>
    </li>
    <li class="links__item is-mobile"><a href="#" class="link" title="Contact Us Page">Contact Us Page</a></li>
    <li class="links__item"><a href="#" class="link" title="Arch Card">Arch Card</a></li>
    <li class="links__item"><a href="#" class="link" title="Donations">Donations</a></li>
    <li class="links__item"><a href="#" class="link" title="Employment">Employment</a></li>
    <li class="links__item"><a href="#" class="link" title="Mobile App">Mobile App</a></li>
  </ul>
</div>
