<sly data-sly-use.meta="com.mcd.rwd.global.core.sightly.page.PageMeta"/>
<sly data-sly-use.footer="com.mcd.rwd.wifi.core.sightly.page.WifiFooterHandler">
    <sly data-sly-test.configured="${footer.isFooterComponentConfigured}">
        <div class="footer-box open-modal" style="background-color: ${footer.bgColor @ context='styleToken'}; color: ${footer.textColor @ context='styleToken'};">
            <p class="footerPera">
                 <sly data-sly-repeat="${footer.channels}">
                 	<a style ="color: ${footer.textColor @ context='styleToken'};" data-sly-test="${item.target == '_blank'}" href="#tocBumper" title="" role="link" class="open-popup footer-popup" data-src="${item.href}" data-link-target="new" data-at="FooterLinks:${meta.title @ context = 'unsafe'}:${item.text}" data-track="footerChannel">${item.text}</a> 

                 	<a style ="color: ${footer.textColor @ context='styleToken'};" data-sly-test="${item.target == '_self'}" href="#tocBumper" title="" role="link" class="open-popup footer-popup" data-src="${item.href}" data-link-target="modal" data-at="FooterLinks:${meta.title @ context = 'unsafe'}:${item.text}" data-track="footerChannel">${item.text}</a> 
                 	|
                 </sly>
                 <span class="copyrightText">&copy; ${footer.copyRight @ context='unsafe'}</span>
             </p> 
        </div>
        <div id="tocBumper" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" title="Close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">${footer.termsTitle}</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </sly>
    <sly data-sly-test="${!configured}">
        <h2>Please configure the wifi footer component in design page</h2>
    </sly>
</sly>