$break-point:           48rem;
$container-width:       to-rem(1124);
$font-family-base:      'ArchSans';
$rtl-font-family-base:  'DroidArabicKufi';
$font-size-base:        16;
$container-lg:          to-rem(1168);
$link-hover-decoration: underline;
