<div data-component="contHero" class="mcd-cont-hero">
  <div class="hero__img-container">
    <img src="/src/assets/images/big-mac.png" alt="Big Mac" class="" width="" />
  </div>
  <div class="hero__txt-container">
    <h1 class="hero__txt-container--heading">Big Mac</h1>
    <p class="hero__txt-container--details">530kCal | 2220kJ</p>
    <p class="hero__txt-container--copy">Mouthwatering perfection starts with two sear-sizzled 100% pure beef patties and Big Mac&reg; sauce, sandwiched between a sesame seed bun. American cheese, shredded lettuce, onions and pickles top it off.</p>
  </div>
</div>
