<section data-component="social-feed-component" class="social-feed">
    <div class="social-feed_heading">Stay Connected</div>
    <div class="social-feed_links">
        <span aria-hidden="true" data-icon="&#xe906;" class="icon-facebook-with-circle"></span>
        <span aria-hidden="true" data-icon="&#xe902;" class="icon-twitter-with-circle"></span>
        <span aria-hidden="true" data-icon="&#xe904;" class="icon-instagram-with-circle"></span>
        <span aria-hidden="true" data-icon="&#xe901;" class="icon-youtube-with-circle"></span>
        <span aria-hidden="true" data-icon="&#xe903;" class="icon-tumblr-with-circle"></span>
        <span aria-hidden="true" data-icon="&#xe905;" class="icon-spotify-with-circle"></span>
    </div>
    <div class="social-feed_language-selector">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <span>US English</span>
                <span aria-hidden="true" data-icon="&#xe907;" class="icon-caret"></span>
                <!-- <span class="caret"></span> -->
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">HTML</a>
                </li>
                <li>
                    <a href="#">CSS</a>
                </li>
                <li>
                    <a href="#">JavaScript</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="social-feed_separator-line">
    <br>
    <br>
    <br>
</section>