* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
	position: relative;
	min-height: 100%;
  font-size: 62.5%;
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  padding-right: 0 !important; //fix for boostrap modal padding
  color: $black;
  background: $white;
  transition: all 0.4s;
	min-height: 100%;
	margin-bottom: 0px!important; // margin bottom by footer height
        overflow-x: hidden;

	@media only screen and (min-width: 768px){
		//margin-bottom: 0px!important; // margin bottom by footer height
	}

	&.modal-open {
		overflow: inherit;
		padding-right: 0 !important;
	}

  &.cookie-banner{
    transition-property: none;
  }

}
main {
	min-height: 100%;
}
.col-xs-0 {
	width: 0%;
	height: 0;
	overflow: hidden;
}
.dropdown-backdrop {
    display:none;
}
main {
	//overflow: hidden;
}
h3 {
	@include fontSet(38px, 38px, 'Droid_Arabic_Kufi_Bold');

	@media only screen and (min-width: 320px){
		@include fontSet(42px, 42px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 480px){
		@include fontSet(48px, 48px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 768px){
		@include fontSet(38px, 38px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 992px){
		@include fontSet(54px, 54px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 1200px){
		@include fontSet(60px, 60px, 'Droid_Arabic_Kufi_Bold');
	}
}
h4 {
	@include fontSet(40px, 40px, 'Droid_Arabic_Kufi_Bold');

	@media only screen and (min-width: 320px){
		@include fontSet(42px, 42px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 480px){
		@include fontSet(48px, 48px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 768px){
		@include fontSet(30px, 30px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 992px){
		@include fontSet(36px, 36px, 'Droid_Arabic_Kufi_Bold');
	}
	@media only screen and (min-width: 1200px){
		@include fontSet(40px, 40px, 'Droid_Arabic_Kufi_Bold');
	}
}

@include headers {
  sub,
  .sub {
    bottom: 0;
    font-family: 'Droid_Arabic_Kufi_Regular';
    padding-left: .5em;
  }
}

a,a:hover {
	@include transition();
	text-decoration: none;
}

sup.star {
	top: -0.05em;
	font-size: 100%;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.no-gutter > .padleft {
	padding-left: 15px;
}
.no-gutter > .padrightt {
	padding-right: 15px;
}
.justified-list {
	display: flex;
  justify-content: space-between;

	li:first-child {
		padding-left: 0;
	}
	li:last-child {
		padding-right: 0;
	}
}
.cont-100 {
	width: 100%;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.row-eq-height {
  overflow: hidden;

	> [class*='col-'] {
		margin-bottom: -99999px;
    padding-bottom: 99999px;
	}
}
.table-row {
  display: table;
  table-layout: fixed;

  > [class^="col-"] {
    display: table-cell;
    float: none;
  }
}

.fancybox-close {
	background: transparent;
	width: 44px;
	height: 44px;
	font-size:13px;

	.fa-circle {
		color: $red;
		@include transition();
	}

	&:hover {
		.fa-circle {
			color: $red-hover;
		}
	}
}

/// Sets `.large-headline-text` styling
/// @group typography
@mixin large-headline-text(){
	.large-headline-text {
        font-family: "Droid_Arabic_Kufi_Bold";
        font-size: 4vw;
        line-height: 5vw;
        margin-bottom: 40px;
        margin-top: 40px;

		.large {
			display: block;
			letter-spacing: -0.005em;
			text-transform: uppercase;
            font-family: "Droid_Arabic_Kufi_Bold";
            font-size: 12vw;
            line-height: 12vw;
            margin-top: 1vw;
		}

		@media only screen and (min-width: 320px){

		}
		@media only screen and (min-width: 480px){

		}
		@media only screen and (min-width: 768px){
            font-family: "Droid_Arabic_Kufi_Bold";
            font-size: 2vw;
            line-height: 1vw;
			margin-bottom: 40px;
            margin-top: 30px;

			.large {
                font-family:  "Droid_Arabic_Kufi_Bold";
                font-size: 8vw;
                line-height: 8vw;
                margin-top: 1vw;
                padding: 2%;
			}

		}
		@media only screen and (min-width: 992px){

		}
		@media only screen and (min-width: 1200px){

		}
	}
}

// Sets `.headline-text` styling.
/// @group typography
@mixin headline-text(){
	.headline-text {
		margin-bottom: 5px;
		color: $black-text;
		text-align: center;
		@include fontSet(20px, 30px, 'Droid_Arabic_Kufi_Bold');

		.large {
			display: block;
			@include fontSet(45px, 45px, 'Droid_Arabic_Kufi_Bold');
			text-transform: uppercase;
			letter-spacing: -0.005em;
		}

		.small {
			display: block;
			@include fontSet(16px, 28px, 'Droid_Arabic_Kufi_Regular');
		}

		@media only screen and (min-width: 320px){
			@include fontSet(24px, 34px, 'Droid_Arabic_Kufi_Bold');

			.large {
				@include fontSet(55px, 55px, 'Droid_Arabic_Kufi_Bold');
			}
			.small {
				@include fontSet(18px, 30px, 'Droid_Arabic_Kufi_Regular');
			}
		}
		@media only screen and (min-width: 480px){
			@include fontSet(34px, 44px, 'Droid_Arabic_Kufi_Bold');
			margin-bottom: 10px;

			.large {
				@include fontSet(95px, 95px, 'Droid_Arabic_Kufi_Bold');
			}
			.small {
				@include fontSet(20px, 32px, 'Droid_Arabic_Kufi_Regular');
			}
		}
		@media only screen and (min-width: 768px){
			@include fontSet(28px, 38px, 'Droid_Arabic_Kufi_Bold');
			margin-bottom: 30px;

			.large {
				@include fontSet(80px, 80px, 'Droid_Arabic_Kufi_Bold');
			}
			.small {
				@include fontSet(22px, 34px, 'Droid_Arabic_Kufi_Regular');
			}
		}
		@media only screen and (min-width: 992px){
			@include fontSet(30px, 40px, 'Droid_Arabic_Kufi_Bold');

			.large {
				@include fontSet(100px, 100px, 'Droid_Arabic_Kufi_Bold');
			}
			.small {
				@include fontSet(24px, 36px, 'Droid_Arabic_Kufi_Regular');
			}
		}
		@media only screen and (min-width: 1200px){
			@include fontSet(33px, 43px, 'Droid_Arabic_Kufi_Bold');

			.large {
				@include fontSet(125px, 125px, 'Droid_Arabic_Kufi_Bold');
			}
			.small {
				@include fontSet(24px, 36px, 'Droid_Arabic_Kufi_Regular');
			}
		}
	}
}
@include large-headline-text();
@include headline-text();

.zoom-anim-target {
	@include zoom-animation();
}
.zoom-anim-parent {
  -webkit-backface-visibility: hidden;
	overflow: hidden;
}
.relative {
	position: relative;
}
.cont-corner {
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0 0;
	border-color: $red transparent transparent transparent;

	.text {
		position: absolute;
		top: -31px;
		left: 2px;
		color: $white;
		text-transform: uppercase;
		@include fontSet(16px, 16px, 'Droid_Arabic_Kufi_Bold');

		-webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
	}
}

.cont-breadcrumb {
	@include fontSet(20px, auto);
	text-align: left;
	color: $white;
	display: none;

	.breadcrumb {
		margin-right: -15px;
		background: transparent;
		margin-bottom: 0px;

		> .active {
			color: $white;
		}
	}

	a {
		@include fontSet(20px, auto);
		color: $white;
		text-decoration: underline;

		&:hover {
			color: $red;
		}
	}

	@media only screen and (min-width:768px){
		display: block;
	}
}

/// Align an element vertically.
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}


// Load more button
.load-more-row {
	text-align: center;

	.load-more-btn {
		@include fontSet(20px, 1.4em, 'Droid_Arabic_Kufi_Bold');
		background: transparent;
		border: 0;
		color: $red;
		display: inline-block;
		padding: 20px;
		margin: 20px 0px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;

		.fa {
			text-transform: none;
		}

		.fa-circle { color: $light-gray; }
		.fa-chevron-down { color: $red; }

		&:hover {
			color: $red-hover;

			.fa-chevron-down { color: $red-hover; }
		}

	}
}



//Placeholder Text color on focus and blur
input {
	&::-webkit-input-placeholder {
		color: #000000!important;
	}
	&:focus {
		&::-webkit-input-placeholder {
			color: #c2c2c2!important;
		}
		&:-moz-placeholder {
			color: #c2c2c2!important;
		}
		&::-moz-placeholder {
			color: #c2c2c2!important;
		}
		&:-ms-input-placeholder {
			color: #c2c2c2!important;
		}
	}
	&:-moz-placeholder {
		color: #000000!important;
	}
	&::-moz-placeholder {
		color: #000000!important;
	}
	&:-ms-input-placeholder {
		color: #000000!important;
	}
}



/// Styles for unified or commonly used hero component.
/// @group layout
.component-hero{
  .template-hero{
    //overflow: hidden;
    position: relative;
    padding-bottom: 100%;
		min-height: 400px;

    // use this instead of overflow hidden
    zoom: 1;/* IE < 8 */
    &:before,
    &:after {
      content: "";
      display: block;
      height: 0;
      overflow: hidden;
    }
    &:after { clear: both; }


    @media only screen and (min-width: 320px) {

    }
    @media only screen and (min-width: 480px) {
      padding-bottom: 90%;
    }

    @media only screen and (min-width: 580px) {
      padding-bottom: 75%;
    }

    @media only screen and (min-width: 680px) {
      padding-bottom: 65%;
    }

		@media only screen and (min-width: 768px) {
			min-height: 480px;
			padding-bottom: 50%;
		}

    @media only screen and (min-width: 992px) {
      min-height: 500px;
      padding-bottom: 50%;
    }

    @media only screen and (min-width: 1200px){
      padding-bottom: 45%;
    }

		@media only screen and (min-width: 1460px) {
			min-height: 640px;
			padding-bottom: 0;
		}

    p{
      &.centered{
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
      }
    }

    .mcdhero{
      //position: static;
      //margin-top: 80px;
      //margin-bottom: 80px;
    }

    .absolute-content .absolute-content-wrapper {
      h1,
      .h1 {
        text-transform: uppercase;
  			margin-top: 0;
  			margin-bottom: 15px;
  			@include fontSet(50px, 50px, 'Droid_Arabic_Kufi_Bold');
  			color: $white;
      }
      h2,
      .h2 {
        @include fontSet(26px, 1.4em, 'Droid_Arabic_Kufi_Bold');
        margin-top: 0;
        margin-bottom: 5px;
        display: block;
        text-transform: none;
      }

      h1,h2,.h1,.h2{
        position: relative;

        .visuallyhidden{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
        }
      }

      p {
        @include fontSet(20px, 1.4em, 'Droid_Arabic_Kufi_Regular');
  			color: $white;
  			margin-bottom: 15px;
      }

      .btn-red{
        padding: 0px 18px;
        @include fontSet(18px, 0px, 'Droid_Arabic_Kufi_Bold');
        line-height: 28px;
        height: 32px;
      }

      .select{
        display: inline-block;

        button.dropdown-toggle{
          padding-left: 30px;

          @media only screen and (min-width: 768px){
            padding-left: 40px;
          }
        }

        + button.btn-red{
          display: inline-block;
          margin-right: 5px;
          height: 39px;
          @include fontSet(22px, 0px, 'Droid_Arabic_Kufi_Bold');

          @media only screen and (min-width: 768px){
            height: 39px;
            margin-right: 10px;
            @include fontSet(22px, 0px, 'Droid_Arabic_Kufi_Bold');
          }
        }
      }


      @media only screen and (min-width: 320px) {
        h1,
        .h1{
          @include fontSet(50px, 50px, 'Droid_Arabic_Kufi_Bold');
        }
        h2,
        .h2 {
          @include fontSet(26px, 1.4em, 'Droid_Arabic_Kufi_Bold');
        }
			}
      @media only screen and (min-width: 375px) {
        h1,
        .h1{
          @include fontSet(56px, 56px, 'Droid_Arabic_Kufi_Bold');
        }
			}
			@media only screen and (min-width: 480px) {
        h1,
        .h1{
          @include fontSet(70px, 70px, 'Droid_Arabic_Kufi_Bold');
        }
        p{
          @include fontSet(22px, 1.4em, 'Droid_Arabic_Kufi_Regular');
        }
			}

      @media only screen and (min-width: 768px){
        h1,
        .h1 {
          @include fontSet(100px, 1em, 'Droid_Arabic_Kufi_Bold');
        }
        h2,
        .h2 {
          @include fontSet(36px, 1.2em, 'Droid_Arabic_Kufi_Bold');
        }
        p {
          @include fontSet(26px, 1.4em, 'Droid_Arabic_Kufi_Regular');
          margin-bottom: 25px;
        }

        .btn-red{
          padding: 0px 30px;
          @include fontSet(22px, 0px, 'Droid_Arabic_Kufi_Bold');
          line-height: 35px;
          height: 39px;
        }
      }

      @media only screen and (min-width: 992px){
        h1,
        .h1 {
          @include fontSet(125px, 125px, 'Droid_Arabic_Kufi_Bold');
        }
        h2,
        .h2 {
          @include fontSet(50px, 1.2em, 'Droid_Arabic_Kufi_Bold');
        }
        p {
          @include fontSet(26px, 1.4em, 'Droid_Arabic_Kufi_Regular');
          margin-bottom: 25px;
        }
      }

      @media only screen and (min-width: 1200px){
        h1,
        .h1 {
          @include fontSet(125px, 125px, 'Droid_Arabic_Kufi_Bold');
        }
        h2,
        .h2 {
          @include fontSet(46px, 1.2em, 'Droid_Arabic_Kufi_Bold');
        }
        p {
          @include fontSet(26px, 1.4em, 'Droid_Arabic_Kufi_Regular');
          margin-bottom: 25px;
        }
      }
    }

    .text-wrapper{
      &.heroTextCenter{
        text-align: center;
        width: 100%;

        p{
          margin-left: auto;
          margin-right: auto;
          max-width: 570px;
        }
      }

      &.heroTextLeft{
        @media only screen and (min-width: 768px){
          text-align: left;
        }
      }

      &.heroTextRight{
        @media only screen and (min-width: 768px){
          text-align: right;
        }
      }

      &.heroTextLeft, &.heroTextRight{
        width: 100%;

        @media only screen and (min-width: 768px) and (max-width: 991px){
          width: 60%;

          p {
            @include fontSet(22px, 1.4em, 'Droid_Arabic_Kufi_Regular');
          }

          h2,
          .h2 {
            @include fontSet(33px, 1.2em, 'Droid_Arabic_Kufi_Bold');
          }

          h1,
          .h1{
            @include fontSet(90px, 1em, 'Droid_Arabic_Kufi_Bold');
          }
        }

        @media only screen and (min-width: 992px) and (max-width: 1199px){
          width: 60%;

          h2,
          .h2 {
            @include fontSet(40px, 1.2em, 'Droid_Arabic_Kufi_Bold');
          }

          h1,
          .h1{
            @include fontSet(110px, 1em, 'Droid_Arabic_Kufi_Bold');
          }
        }

        @media only screen and (min-width: 1200px){
          width: 50%;
        }
      }


    }


  }

  .mcdhero{
    bottom: auto;
    top:50%;
    top: calc(50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    .absolute-content-wrapper{
      position: static;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      transform: none;
    }

  }
}
.component-authoring-text{
    color:#cccccc;
    cursor:default;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:16px;
    font-weight:bold;
    padding: 15px;
    text-align:center;
}

