<nav data-component="footer" class="mcd-global-footer" aria-label="additional resources" role="navigation">
  <div class="footer__container">

    <% include ../footer-navigation/mcd-footer-navigation %>

    <div class="mcd-global-footer__profiles">
      <ul class="links social">
        <li class="links__item">
          <a href="http://facebook.com/McDonaldsUS" class="isexit link" title="Facebook">
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li class="links__item">
          <a href="http://Twitter.com/McDonalds" class="isexit link" title="Twitter">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li class="links__item">
          <a href="http://youtube.com/c/McDonalds" class="isexit link" title="YouTube">
            <i class="icon-youtube"></i>
          </a>
        </li>
        <li class="links__item">
          <a href="http://instagram.com/McDonalds" class="isexit link" title="Instagram">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li class="links__item">
          <a href="http://mcdonalds.tumblr.com" class="isexit link" title="Tumblr">
            <i class="icon-tumblr"></i>
          </a>
        </li>
        <li class="links__item">
          <a href="https://open.spotify.com/user/mcdonalds" class="isexit link" title="Spotify">
            <i class="icon-spotify"></i>
          </a>
        </li>
      </ul>
      <ul class="links apps">
        <li class="links__item"><a href="#" class="isexit" title="Download on The App Store">[App Store Icon]</a></li>
        <li class="links__item"><a href="#" class="isexit" title="Get It On Google Play">[Google Play Icon]</a></li>
      </ul>
    </div>

    <div class="mcd-global-footer__legal">
      <ul class="links">
        <li class="links__item"><a href="#" class="country-switcher link" title="United States">[Flag Icon] United States</a></li>
        <li class="links__item"><a href="#" class="link" title="Contact">Contact</a></li>
        <li class="links__item"><a href="#" class="link" title="Privacy Policy">Privacy Policy</a></li>
        <li class="links__item"><a href="#" class="link" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
        <li class="links__item"><a href="#" class="link" title="Accessibility">Accessibility</a></li>
      </ul>
      <div class="details">
        <p class="copyright"> [Golden Arches Icon] 2017 McDonald's. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</nav>
