<div data-component="nutrition" class="nutrition">
  <div class="nutrition__container">
  <p class="nutrition__title">Nutrition Facts</p>
  <p class="nutrition__text">
    We use only 100% American beef from companies like Australian Food Corporation to serve you the best burgers
  </p>
  <div class="panel-group mcd-accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="mcd-panel panel">
      <div class="mcd-panel__heading" role="tab" id="headingOne" data-heading="1">
        <h4 class="panel-title">
          <a role="button" class="mcd-panel__collapsible-href" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
            aria-controls="collapseOne">
            <span class="">Nutrition</span>
            <span class="icon-chevron-thin-down"></span>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-body="1">
        <div class="panel-body">
          <div class="nutrition__content">
            <ul>
              <li class="item">
                <p class="value">25g</p>
                <span class="metric">Fat (36% RI)</span>
              </li>
              <li class="item">
                <p class="value">25g</p>
                <span class="metric">Fat (36% RI)</span>
              </li>
              <li class="item">
                <p class="value">25g</p>
                <span class="metric">Fat (36% RI)</span>
              </li>
              <li class="item">
                <p class="value">25g</p>
                <span class="metric">Fat (36% RI)</span>
              </li>
            </ul>
          </div>
          <div class="nutrition__content">
            <ul>
              <li class="item">
                <p class="value">25g</p>
                <span class="metric">Fat (36% RI)</span>
              </li>
              <li class="item">
                <p class="value">25g</p>
                <span class="metric">Fat (36% RI)</span>
              </li>
            </ul>
          </div>
          <div class="nutrition__labels">
            <ul class="label-list">
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
            </ul>
            <ul class="label-list">
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
            </ul>
            <ul class="label-list">
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
              <li class="label-item">
                <span class="metric">Calories from fat</span>
                <span class="value">350</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <div class="mcd-panel panel">
        <div class="mcd-panel__heading" role="tab" id="headingTwo" data-heading="2">
          <h4 class="panel-title">
            <a role="button" class="mcd-panel__collapsible-href" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
              aria-controls="collapseTwo">
              <span class="">Ingredients</span>
              <span class="icon-chevron-thin-down"></span>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-body="2">
          <div class="panel-body">
            <div class="nutrition__ingredients-content">
              <div class="nutrition-column">
                <div class="column-item">
                  <div class="item-title">Big Mac Bun</div>
                  <p class="item-desc">This here is information on the big mac bun</p>
                </div>
              </div>
              <div class="nutrition-column">
                <div class="column-item">
                  <div class="item-title">Big Mac Bun</div>
                  <p class="item-desc">This here is information on the big mac bun</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nutrition__button">
        <% title= 'Nutrition Calculator', subclass='button--transparent', icon=''%>
        <% include ./../../components/elements/button/button %>
    </div>
  </div>
  </div>
