.mcd-legal-disclaimer {
  background-color: $background;
  font-family: 'ArchSans';
  padding: 6.25rem 0;

  &__container {

    .content {
      color: $dark-gray-1;
      font-size: to-rem(11);
      height: to-rem(150);
      line-height: to-rem(14);
      overflow: hidden;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
        width: 100%;
        height: to-rem(100);
      }
      &.open {
        height: 100%;
        &:after {
          background-image: none;
        }
      }
      .heading {
        color: $dark-gray-2;
      }
    }

    .read-more {
      margin: to-rem(20) 0;
      text-align: center;
      .link {
        color: $dark-gray-1;
        text-decoration: none;
      }
      &.active {
        display: none;
      }
    }
  }

  @media screen and (min-width: $break-point) {
    &__container {
      .content {
        height: 100%;
        &:after {
          background-image: none;
        }
      }

      .read-more {
        display: none;
      }
    }
  }
}
