<!--/*

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2014 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.
  
  Renders the head markup of a sightly page
*/-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"
      data-sly-use.meta="com.mcd.rwd.global.core.sightly.page.PageMeta"
      data-sly-use.headlibRenderer="headlibs.html"
      data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<meta name="keywords" content="${meta.keywords @ context = 'attribute'}">
<meta name="description" content="${meta.desc @ context = 'attribute'}">
<meta name="thumbnail" content="${meta.thumbnail @ context = 'attribute'}">
<meta name="pagetype" content="${meta.pageType}">

<!--/* Meta Tags used by social sites to display appropriate information when sharing the page. */-->
<meta property="og:type" content="${ meta.ogType }">
<meta property="og:url" content="${ meta.ogUrl }">
<meta property="og:title" content="${ meta.title }">
<meta property="og:description" content="${ meta.desc }">
<meta property="og:image" content="${ meta.ogImg }">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="${ meta.twitterHandle }">

<!--/*Canonical Url For the page */-->
<sly data-sly-test.scheme="${request.scheme}"/>
<sly data-sly-test.servername="${request.serverName}"/>
<link data-sly-test="${meta.ogUrl}" rel="canonical" href="${scheme}://${servername}${meta.ogUrl}.html" />
<sly data-sly-call="${headlibRenderer.headlibs @ designPath = meta.designPath}"/>
<sly data-sly-include="author.html"/>

<!--/* Leaving it blank to add project specific libraries if required */-->
<sly data-sly-include="customheaderlibs.html"/>
<link data-sly-test="${meta.faviconPath}" rel="icon" type="image/vnd.microsoft.icon"
      href="${meta.faviconPath}"/>
<link data-sly-test="${meta.faviconPath}" rel="shortcut icon" type="image/vnd.microsoft.icon"
      href="${meta.faviconPath}"/>
<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"> -->
<title>${meta.title @ context = 'unsafe'}</title>

		<sly data-sly-test="${wcmmode.disabled}">
			<SCRIPT LANGUAGE = javascript>
				document.addEventListener("DOMContentLoaded", function(event) {
				if (self != top)
				window.open(self.document.location,"_top","");
				});
			</SCRIPT>
		</sly>