<!--/*
    Displays redirect page details in author mode.
*/-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"
          data-sly-use.headlibRenderer="headlibs.html">
    <sly data-sly-include="author.html"/>
    <title>${ currentPage.title }</title>
</head>
<body>
<p style="text-align: center; font-size: 1.2em;"
   data-sly-use.redirect="com.mcd.rwd.global.core.sightly.page.Redirect">
    This page redirects to <a href="${redirect.path}">${redirect.path}</a> in publish.
</p>
</body>