<section data-component="social-share" class="mcd-social-share">
    <div class="mcd-social-share--header">Share this goodness?</div>
    <div class="mcd-social-share--list">
        <div class="mcd-social-share--list--section">
            <ul role="list" class="mcd-social-share--list__icons">
                <li>
                    <a href="http://facebook.com/McDonaldsUS" title="Facebook" alt="Facebook" target="_blank" data-track="externalLink">
                        <span class="icon-facebook-color"><span class="path1"></span><span class="path2"></span></span>
                    </a>
                </li>
                <li>
                    <a href="http://Twitter.com/McDonalds" title="Twitter" alt="Twitter" target="_blank" data-track="externalLink">
                        <span class="icon-twitter-color"><span class="path1"></span><span class="path2"></span></span>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/+McDonalds" title="Google+" alt="Google+" target="_blank" data-track="externalLink">
                        <span class="icon-googleplus-color"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>