<nav data-component="globalNavigation" class="mcd-global-nav" role="navigation" aria-label="main navigation">

  <div class="mobile-nav">
    <div class="mobile-nav__nav-logo">
      <a href="#" title="Home">
        <img src="/src/assets/images/mcdonalds-logo.jpg" alt="McDonald's Golden Arches" width="48">
      </a>
    </div>
    <div class="mobile-nav__menu-icons">
      <div class="menu-icon">
        <i class="icon-menu"></i>
      </div>
      <div class="close-icon">
        <i class="icon-close"></i>
      </div>
    </div>
    <div class="mobile-nav__links-panel">
      <ul class="links">
        <li class="links__item"><a href="#" class="main-link" title="Home">Home</a></li>
        <li class="links__item">
          <a href="#" class="main-link" title="Menu">Menu<i class="icon-plus"></i></a>
          <ul class="links links--inner hide">
            <li class="links__item"><a href="#" title="" class="link">Link</a></li>
            <li class="links__item"><a href="#" title="" class="link">Link</a></li>
            <li class="links__item"><a href="#" title="" class="link">Link</a></li>
            <li class="links__item"><a href="#" title="" class="link">Link</a></li>
            <li class="links__item">
              <a href="#" class="button" title="View Full Menu">View Full Menu</a></li>
          </ul>
        </li>
        <li class="links__item"><a href="#" class="main-link" title="Nutrition">Nutrition</a></li>
        <li class="links__item"><a href="#" class="main-link" title="Deals">Deals</a></li>
        <li class="links__item"><a href="#" class="main-link" title="Trending">Trending</a></li>
        <li class="links__item"><a href="#" class="main-link" title="Locations">Locations</a></li>
      </ul>
      <hr />
      <ul class="links">
        <li class="links__item"><a href="#" class="link" title="Search">Search<i class="icon-search"></i></a></li>
        <li class="links__item"><a href="#" class="link" title="Pick a Location">Pick a Location<i class="icon-location2"></i></a></li>
        <li class="links__item"><a href="#" class="link" title="My Account">My Account<i class="icon-user"></i></a></li>
      </ul>
      <hr />
      <ul class="links">
        <li class="links__item"><a href="#" class="link" title="Careers">Careers</a></li>
        <li class="links__item"><a href="#" class="link" title="Join Us">Join Us</a></li>
        <li class="links__item"><a href="#" class="link" title="">English<i class="icon-plus"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="desktop-nav">

    <div class="mcd-global-nav__container">

      <div class="nav__logo">
        <a href="#" title="Home">
          <img src="/src/assets/images/mcdonalds-logo.jpg" alt="McDonald's Golden Arches" width="110">
        </a>
      </div>

      <div class="secondary__links">
        <div class="left__rail">
          <ul class="links">
            <li class="links__item"><a href="#" class="link" title="Careers">Careers</a></li>
            <li class="links__item"><a href="#" class="link" title="Join Us">Join Us</a></li>
            <li class="links__item"><a href="#" class="link" title="">English <i class="icon-chevron-thin-down"></i></a></li>
          </ul>
        </div>
        <div class="right__rail">
          <ul class="links">
            <li class="links__item"><a href="#" class="link" title="Search"><i class="icon-search"></i> Search</a></li>
            <li class="links__item"><a href="#" class="link" title="Pick a Location"><i class="icon-location2"></i> Pick a Location</a></li>
            <li class="links__item"><a href="#" class="link" title="My Account"><i class="icon-user"></i> My Account</a></li>
          </ul>
        </div>
      </div>

      <div class="primary__links">
        <ul class="links">
          <li class="links__item"><a href="#" class="active main-link" title="Menu">Menu <i class="icon-chevron-thin-down"></i></a></li>
          <li class="links__item"><a href="#" class="main-link" title="Nutrition">Nutrition</a></li>
          <li class="links__item"><a href="#" class="main-link" title="Deals">Deals</a></li>
          <li class="links__item"><a href="#" class="main-link" title="Trending">Trending</a></li>
          <li class="links__item"><a href="#" class="main-link" title="Locations">Locations</a></li>
        </ul>
      </div>

    </div>

  </div>

</nav>
