.component-trending-now{

.treanding-news-title{
    color: black;
    font-weight: 600;
    margin-bottom: 3%;
    font-size: 16px;
}

.treanding-news{
    background: white;
    padding: 4% 5%;
    line-height: 1.2;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #eeeeee;
      p{
     margin: 0;
     }
     span{
         color: #b01709;
    font-size: 16px;
     }
}

}
.component-newsroom-slider{
    background-image: url(../images/bg.png);
    background-size: 100% auto;

    .sliderTitle{
        color: white;
	    font-size: 44px;
	    padding: 3% 0;
	    text-align: center;
	    font-weight: 600;
    }
      @media only screen and (max-width: 700px) {
         .sliderTitle{
        	    padding: 9% 0;
            }
          }

     .newsSlider{
        padding-bottom: 10%;

	    .newsFlexslider {
              background: transparent;
             overflow: visible;

       @media only screen and (min-width: 700px) {
           .flex-viewport {
		        margin-left: 230px;
		       margin-right: 230px;

		       img{
                   height: 211px;
		       }
			}
			}
		 @media only screen and (max-width: 699px) {
			.flex-viewport{
		       margin-left: 36px;
               margin-right: 36px;
                img{
                   height: 190px;
		       }
			}
            }
		    .flex-viewport{
		       .slides li{
		            background: white;
                  border: solid 2px white;
                  border-radius: 5px;
                 margin-right: 0;
              }

		    }

		    .sliderText{
		       padding: 4% 5% 6%;
                word-break: break-word;

                h3{
                    font-size: 22px;
                    line-height: 1;
                    font-weight: 600;
                    height: 54px;
                    color: #373636;
                    overflow: hidden;
                    padding-bottom: 10px;
                }
                .bar{
                  margin: 0 10px;
                }
                 p{
                    font-size: 13px;
                    margin: 0 0 2% 0px;
                  }
		        .red{
		            color: #ce1b1f;
		        }

		        .read__wrapper a{
		           padding: 2% 8%;
				    background: #bf0c0c;
				    color: white;
				    border-radius: 43px;

		        }
		    }
	    }
        @media only screen and (min-width: 700px) {
			.flex-control-paging{
		     bottom: -19% !important;
			}
	      }
	       @media only screen and (max-width: 699px) {
			.flex-control-paging{
		     bottom: 5% !important;
			}
	      }
	   	 @media only screen and (max-width: 699px) {
			.flex-direction-nav{
		      margin-top: 20% !important;
			}
	      }

       .flex-direction-nav .flex-prev{

           background: white;
               right: 0%;
               border-top-left-radius: 40px;
               border-top-right-radius: 0px;
               border-bottom-right-radius: 0px;
               border-bottom-left-radius: 40px;
       }
       .flex-direction-nav .flex-prev:before{
                color: #bf0c0c;
                 margin-right: 20%;
                 content: '\f002'!important;
         }

       @media only screen and (max-width: 699px) {
           .flex-direction-nav .flex-prev{
                 top: 90%;
 		         right: 8%;
			     border-radius: 40px;
			  }
          .flex-direction-nav .flex-prev:before{
                 margin-right: 10px;
            }
	   }

       .flex-direction-nav .flex-next {

          background: white;
              left: 0px;
              right: auto;
              border-top-left-radius: 0;
              border-top-right-radius: 40px;
              border-bottom-right-radius: 40px;
              border-bottom-left-radius: 0px;
        }
       @media only screen and (max-width: 699px) {
       .flex-direction-nav .flex-next{
                top: 90%;
       		    right: 82% !important;
       		    border-radius: 40px;
			}
	   }
        .flex-direction-nav .flex-next:before{
            color: #bf0c0c;
            content: '\f001'!important;
            margin-right: 20%;
       }

     }


}
